// Text colors
$textcolor1: #333333;
$textcolor2: #ffffff;
//Main colors
$maincolor1: #6E551B; 
$maincolor2: #3C2F10; 
// Base colors
$basecolor1: #FFFFFF;
$basecolor2: #E2DDD1;
//Overlay colors
$overlaycolor1: rgba(60, 47, 16, 0.3);
$overlaycolor2: rgba(255, 255, 255, 0.85);
//Accent colors
$accentcolor: #23460f;

//Font Variables
$caslon:"Libre Caslon Text";
$serif:"Noto Serif JP";
$sans:"Noto Sans JP";